.header {
  background-image: url(../images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  .header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh; }
  .header__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 31px;
    color: #ffffff; }
  .header .logo {
    position: relative; }
    @media screen and (max-width: 600px) {
      .header .logo {
        width: 100%;
        display: block; } }
    .header .logo::after {
      content: "";
      background-image: url(../images/logo-small.svg);
      background-size: cover;
      background-position: center center;
      display: none;
      width: 225px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0; }
      @media screen and (max-width: 400px) {
        .header .logo::after {
          display: block; } }
    @media screen and (max-width: 400px) {
      .header .logo__object {
        display: none; } }
  .header .menu {
    width: 100%;
    margin: 15px 0 49px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff; }
    @media screen and (max-width: 600px) {
      .header .menu {
        border: none; } }
    .header .menu__list {
      display: flex;
      justify-content: space-evenly;
      padding: 27px 0 24px; }
      @media screen and (max-width: 600px) {
        .header .menu__list {
          display: none; } }
  @media screen and (max-width: 780px) {
    .header__text {
      display: none; } }
  .header__phone {
    font-size: 16px; }
    @media screen and (max-width: 400px) {
      .header__phone {
        width: 100%;
        text-align: left; } }
    .header__phone-number {
      display: inline-block;
      padding: 12px 31px;
      background-color: #886239;
      border-radius: 22px;
      margin-left: 19px;
      margin-top: 20px; }
      @media screen and (max-width: 600px) {
        .header__phone-number {
          margin-left: 0;
          font-size: 22px;
          background-color: transparent; } }
      @media screen and (max-width: 400px) {
        .header__phone-number {
          font-size: 15px;
          padding: 0;
          margin-top: 75px; } }
  .header__title {
    font-family: 'PT Serif', serif;
    font-size: 90px;
    font-weight: bold;
    line-height: 140%;
    text-align: center;
    margin-bottom: auto; }
    @media screen and (max-width: 900px) {
      .header__title {
        font-size: 60px; } }
    @media screen and (max-width: 600px) {
      .header__title {
        margin-bottom: 50px;
        font-size: 52px; } }
    @media screen and (max-width: 400px) {
      .header__title {
        font-size: 35px;
        margin-bottom: 80px; } }
  @media screen and (max-width: 900px) {
    .header__content {
      text-align: center;
      margin-bottom: auto; } }
  .header__descr {
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    max-width: 422px;
    margin-bottom: 20px; }
    @media screen and (max-width: 900px) {
      .header__descr {
        margin-bottom: 80px;
        color: #fff;
        opacity: 0.9;
        max-width: 100%;
        font-size: 30px;
        font-weight: normal; } }
    @media screen and (max-width: 800px) {
      .header__descr {
        font-size: 25px;
        margin-bottom: 100px; } }
    @media screen and (max-width: 600px) {
      .header__descr {
        margin-bottom: 60px;
        font-size: 20px; } }
    @media screen and (max-width: 400px) {
      .header__descr {
        font-size: 16px;
        opacity: 1;
        text-shadow: 1px 1px 1px #000000; } }
  .header__btn {
    display: inline-block;
    padding: 19px 55px 20px;
    color: #fff;
    background: #886239;
    border-radius: 30px;
    margin-bottom: 19px; }
    @media screen and (max-width: 900px) {
      .header__btn {
        margin-bottom: 100px; } }
    @media screen and (max-width: 400px) {
      .header__btn {
        padding: 15px 40px 15px;
        font-size: 15px; } }
  .header__arrow {
    text-align: center; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #1F1E1E;
  font-size: 18px; }

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none; }

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%; }
  @media screen and (max-width: 500px) {
    .title {
      font-size: 28px; } }

.direction {
  padding: 100px 0 100px; }
  .direction__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px; }
    @media screen and (max-width: 1140px) {
      .direction__inner {
        grid-template-columns: repeat(3, 1fr); } }
    @media screen and (max-width: 870px) {
      .direction__inner {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 370px) {
      .direction__inner {
        grid-template-columns: repeat(1, 1fr); } }
  .direction__item {
    border: 1px solid #D9D9DE;
    border-top: none;
    cursor: pointer; }
  @media screen and (max-width: 1140px) {
    .direction__img {
      width: 100%; } }
  .direction__descr {
    padding: 12px 19px 19px; }

.trevel-info {
  background-image: url(../images/panorama.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 32px 0 51px;
  color: #fff;
  border-bottom: 1px solid #D9D9DE; }
  .trevel-info__title {
    text-align: center;
    margin-bottom: 52px; }
    @media screen and (max-width: 500px) {
      .trevel-info__title {
        font-size: 25px; } }
  .trevel-info__descr {
    font-size: 16px;
    line-height: 130%; }
    @media screen and (max-width: 500px) {
      .trevel-info__descr {
        font-size: 14px; } }
  .trevel-info__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 51px 54px; }
    @media screen and (max-width: 700px) {
      .trevel-info__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px; } }
    @media screen and (max-width: 400px) {
      .trevel-info__inner {
        grid-template-columns: repeat(1, 1fr); } }
  .trevel-info__img {
    margin-bottom: 15px; }
  @media screen and (max-width: 700px) {
    .trevel-info__item {
      text-align: center; } }

.popular {
  padding: 100px 0 82px; }
  @media screen and (max-width: 500px) {
    .popular {
      padding: 60px 0 60px; } }
  .popular__title {
    margin-bottom: 40px;
    text-align: center; }
  .popular__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    color: #fff;
    border-bottom: 1px solid #D9D9DE; }
    @media screen and (max-width: 1100px) {
      .popular__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 20px; } }
    @media screen and (max-width: 600px) {
      .popular__inner {
        grid-gap: 15px; } }
    @media screen and (max-width: 500px) {
      .popular__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr); } }
  .popular__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 25px 19px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    line-height: 130%; }
    .popular__link:nth-child(3), .popular__link:nth-child(6) {
      grid-column: span 2;
      grid-row: span 2;
      min-height: 542px; }
      @media screen and (max-width: 500px) {
        .popular__link:nth-child(3), .popular__link:nth-child(6) {
          min-height: 100%; } }
      @media screen and (max-width: 500px) {
        .popular__link:nth-child(3), .popular__link:nth-child(6) {
          grid-column: auto;
          grid-row: auto; } }
    .popular__link-title {
      font-size: 18px;
      margin-bottom: 15px; }
      .popular__link-title--big {
        font-size: 24px; }
  .popular__country {
    margin-bottom: 15px; }
  .popular__price {
    font-weight: bold;
    font-size: 16px;
    margin-top: auto; }

.map {
  padding: 100px 0 100px; }
  @media screen and (max-width: 1170px) {
    .map {
      padding: 15px 0 60px; } }
  .map__title {
    margin-bottom: 46px;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%; }
    @media screen and (max-width: 500px) {
      .map__title {
        font-size: 25px; } }
  @media screen and (max-width: 600px) {
    .map iframe {
      height: 300px; } }

.about {
  padding: 104px 0 100px; }
  @media screen and (max-width: 1200px) {
    .about {
      padding: 20px 0 40px; } }
  .about__inner {
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px; }
    @media screen and (max-width: 1200px) {
      .about__inner {
        display: flex;
        flex-direction: column;
        padding: 0 80px; } }
    @media screen and (max-width: 700px) {
      .about__inner {
        padding: 0; } }
  @media screen and (max-width: 1200px) {
    .about__descr {
      text-align: center; } }
  .about__title {
    margin-bottom: 25px; }
  .about__text {
    margin-bottom: 34px; }
  .about__link {
    color: #C4C4C4;
    font-size: 16px;
    text-decoration: underline; }
  .about__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/video.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 1200px) {
      .about__popup {
        height: 230px;
        background-size: contain; } }
    @media screen and (max-width: 600px) {
      .about__popup {
        height: 180px; } }
    @media screen and (max-width: 450px) {
      .about__popup {
        height: 150px; } }
    @media screen and (max-width: 400px) {
      .about__popup {
        height: 110px; } }
  @media screen and (max-width: 600px) {
    .about__img {
      width: 50px; } }
  @media screen and (max-width: 400px) {
    .about__img {
      width: 30px; } }

.gallery {
  padding: 49px 0 106px;
  color: #fff;
  background: #886239; }
  .gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1140px) {
      .gallery__top {
        margin-bottom: 40px; } }
  .gallery__title {
    margin-bottom: 39px; }
    @media screen and (max-width: 1140px) {
      .gallery__title {
        margin: 0; } }
    @media screen and (max-width: 600px) {
      .gallery__title {
        font-size: 29px; } }
  .gallery__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px; }
    @media screen and (max-width: 1140px) {
      .gallery__item-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px; } }
  @media screen and (max-width: 1140px) {
    .gallery__item-img {
      width: 100%; } }
  .gallery__link {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    text-decoration: underline;
    margin-left: auto; }
    @media screen and (max-width: 600px) {
      .gallery__link {
        font-size: 12px; } }
  .gallery__button-wrapper {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-evenly; }
  .gallery .slick-next,
  .gallery .slick-prev {
    position: static; }

.premium {
  padding: 100px 0; }
  .premium__title {
    margin-bottom: 114px;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .premium__title {
        margin-bottom: 65px; } }
  .premium__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
    margin-bottom: 44px;
    border-bottom: 1px solid #D9D9DE; }
  .premium__text-box {
    width: 45%; }
  .premium__text {
    line-height: 140%; }
  .premium__text:not(:last-child) {
    margin-bottom: 20px; }
  .premium--bold {
    font-size: 22px;
    font-weight: bold; }
  .premium__items {
    display: flex;
    justify-content: space-between; }
  .premium__count {
    display: block;
    color: #886239;
    font-weight: bold;
    font-size: 58px;
    font-family: 'PT Serif', serif;
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (max-width: 1000px) {
      .premium__count {
        font-size: 40px; } }
  .premium__descr {
    font-weight: 500;
    font-size: 20px;
    text-align: center; }
    @media screen and (max-width: 1000px) {
      .premium__descr {
        font-size: 16px; } }

.booking {
  padding: 75px 0 76px;
  background: #EAEAEA; }
  .booking__title {
    text-align: center;
    margin-bottom: 43px; }

.form {
  max-width: 832px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .form__input {
    padding: 11px 14px 12px;
    font-size: 16px;
    color: #C4C4C4;
    border: 1px solid #D9D9DE;
    margin-bottom: 28px; }
  .form__textarea {
    border: none;
    border: 1px solid #D9D9DE;
    padding: 14px 14px 77px;
    width: 100%;
    resize: none;
    color: #C4C4C4;
    border: 1px solid #D9D9DE;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-height: 112px;
    font-weight: normal;
    margin-bottom: 67px;
    overflow: auto; }
  .form__btn {
    background: #886239;
    border-radius: 30px;
    border: none;
    padding: 19px 65px 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer; }
  .form__label {
    color: #1F1E1E;
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .form__checkbox {
    display: none; }
  .form__checkbox-style {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 2px solid #C4C4C4;
    border-radius: 2px;
    margin-right: 19px;
    position: relative; }
  .form__checkbox-style::after {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5c3d1c;
    transition: .2s;
    opacity: 0; }
  .form__checkbox:checked + .form__checkbox-style::after {
    opacity: 1; }

.footer {
  background-color: #1F1E1E;
  color: #fff;
  padding: 77px 0 81px; }
  .footer__logo {
    text-align: center;
    margin-bottom: 69px; }
  .footer__info {
    max-width: 832px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    font-size: 14px; }
  .footer__item {
    line-height: 150%; }
    .footer__item:first-child {
      max-width: 225px; }
    .footer__item:nth-child(2) {
      max-width: 164px; }
    .footer__item:nth-child(3) {
      max-width: 209px; }
  .footer__title {
    font-weight: 500;
    margin-bottom: 7px; }
  .footer__policy {
    text-decoration: underline;
    opacity: 0.8; }
  .footer__address {
    font-style: normal;
    opacity: 0.8; }
  .footer__link {
    display: block;
    opacity: 0.8; }

.navigation__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

.navigation__label {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2px;
  top: 32px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 90;
  cursor: pointer; }
  @media screen and (max-width: 600px) {
    .navigation__label {
      display: flex; } }

.navigation__nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(#886239, #1F1E1E);
  z-index: 80;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: .5s; }

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  z-index: 200; }

.navigation__fake {
  display: inline-block;
  width: 37px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: .4s;
  box-shadow: 2px 2px 10px 0 #1F1E1E; }

.navigation__fake::before, .navigation__fake::after {
  content: "";
  display: inline-block;
  width: 37px;
  height: 2px;
  background-color: inherit;
  position: absolute;
  background-color: #fff;
  transition: .4s;
  box-shadow: 2px 2px 10px 0 #1F1E1E; }

.navigation__fake::before {
  top: 8px; }

.navigation__fake::after {
  top: -8px; }

.navigation__label:hover .navigation__fake::before {
  top: 10px; }

.navigation__label:hover .navigation__fake::after {
  top: -10px; }

.navigation__checkbox:checked + .navigation__label .navigation__fake {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__label .navigation__fake::before {
  transform: rotate(220deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__label .navigation__fake::after {
  transform: rotate(-220deg);
  top: 0; }

.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateX(0); }
