.header {
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 95vh;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 31px;
        color: #ffffff;
    }

    .logo {

        position: relative;


        @media screen and (max-width:600px) {
            width: 100%;
            display: block;
        }

        &::after {
            content: "";
            background-image: url(../images/logo-small.svg);
            background-size: cover;
            background-position: center center;
            display: none;
            width: 225px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 0;

            @media screen and (max-width:400px) {
                display: block;
            }
        }

        &__object {
            @media screen and (max-width:400px) {
                display: none;
            }
        }
    }

    .menu {
        width: 100%;
        margin: 15px 0 49px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;

        @media screen and (max-width:600px) {
            border: none;
        }

        &__list {
            display: flex;
            justify-content: space-evenly;
            padding: 27px 0 24px;

            @media screen and (max-width:600px) {
                display: none;
            }
        }
    }

    &__text {
        @media screen and (max-width:780px) {
            display: none;
        }
    }

    &__phone {
        font-size: 16px;

        @media screen and (max-width:400px) {
            width: 100%;
            text-align: left;
        }

        &-number {
            display: inline-block;
            padding: 12px 31px;
            background-color: #886239;
            border-radius: 22px;
            margin-left: 19px;
            margin-top: 20px;

            @media screen and (max-width:600px) {
                margin-left: 0;
                font-size: 22px;
                background-color: transparent;
            }

            @media screen and (max-width:400px) {
                font-size: 15px;
                padding: 0;
                margin-top: 75px;
            }
        }
    }

    &__title {
        font-family: 'PT Serif',
            serif;
        font-size: 90px;
        font-weight: bold;
        line-height: 140%;
        text-align: center;
        margin-bottom: auto;

        @media screen and (max-width:900px) {
            font-size: 60px;
        }

        @media screen and (max-width:600px) {
            margin-bottom: 50px;
            font-size: 52px;
        }

        @media screen and (max-width:400px) {
            font-size: 35px;
            margin-bottom: 80px;
        }

    }

    &__content {

        position: relative;

        @media screen and (max-width:900px) {
            text-align: center;
            margin-bottom: auto;
        }
    }

    &__descr {
        font-size: 20px;
        font-weight: bold;
        line-height: 140%;
        max-width: 422px;
        margin-bottom: 20px;

        @media screen and (max-width:900px) {
            margin-bottom: 80px;
            color: #fff;
            opacity: 0.9;
            max-width: 100%;
            font-size: 30px;
            font-weight: normal;
        }

        @media screen and (max-width:800px) {
            font-size: 25px;
            margin-bottom: 100px;
        }

        @media screen and (max-width:600px) {
            margin-bottom: 60px;
            font-size: 20px;
        }

        @media screen and (max-width:400px) {
            font-size: 16px;
            opacity: 1;
            text-shadow: 1px 1px 1px #000000;
        }
    }

    &__btn {
        display: inline-block;
        padding: 19px 55px 20px;
        color: #fff;
        background: #886239;
        border-radius: 30px;
        margin-bottom: 59px;

        @media screen and (max-width:900px) {
            margin-bottom: 100px;
        }

        @media screen and (max-width:400px) {
            padding: 15px 40px 15px;
            font-size: 15px;
        }
    }

    &__arrow {
        position: absolute;
        width: 40px;
        bottom: 0;
        right: calc(50% - 20px);
        animation: arrowDown 3s infinite;
    }
}

@keyframes arrowDown {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 0;
    }
}