.header {
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 31px;
        color: #ffffff;
    }

    .logo {
        @media screen and (max-width:600px) {
            width: 100%;
            display: block;
        }
    }

    .menu {
        width: 100%;
        margin: 15px 0 49px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;

        @media screen and (max-width:600px) {
            border: none;
        }

        &__list {
            display: flex;
            justify-content: space-evenly;
            padding: 27px 0 24px;

            @media screen and (max-width:600px) {
                display: none;
            }
        }
    }

    &__text {
        @media screen and (max-width:750px) {
            display: none;
        }
    }

    &__phone {
        font-size: 16px;

        &-number {
            display: inline-block;
            padding: 12px 31px;
            background-color: #886239;
            border-radius: 22px;
            margin-left: 19px;
            margin-top: 20px;

            @media screen and (min-width:600px) {
                margin-left: 0;
            }
        }
    }

    &__title {
        font-family: 'PT Serif',
            serif;
        font-size: 90px;
        font-weight: bold;
        line-height: 140%;
        text-align: center;
        margin-bottom: auto;

        @media screen and (max-width:900px) {
            font-size: 60px;
        }

        @media screen and (max-width:600px) {
            margin-bottom: 50px;
            font-size: 52px;
        }

    }

    &__content {
        @media screen and (max-width:900px) {
            text-align: center;
            margin-bottom: auto;
        }
    }

    &__descr {
        font-size: 20px;
        font-weight: bold;
        line-height: 140%;
        max-width: 422px;
        margin-bottom: 20px;

        @media screen and (max-width:900px) {
            margin-bottom: 80px;
            color: #fff;
            opacity: 0.9;
            max-width: 100%;
            font-size: 30px;
            font-weight: normal;
        }

        @media screen and (max-width:800px) {
            font-size: 25px;
            margin-bottom: 100px;
        }

        @media screen and (max-width:600px) {
            margin-bottom: 60px;
            font-size: 20px;
        }
    }

    &__btn {
        display: inline-block;
        padding: 19px 55px 20px;
        color: #fff;
        background: #886239;
        border-radius: 30px;
        margin-bottom: 19px;

        @media screen and (max-width:900px) {
            margin-bottom: 100px;
        }
    }

    &__arrow {
        text-align: center;
    }
}