.premium {
    padding: 100px 0;

    &__title {
        margin-bottom: 114px;
        text-align: center;

        @media screen and (max-width: 900px) {
            margin-bottom: 65px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 65px;
        margin-bottom: 44px;
        border-bottom: 1px solid #D9D9DE;

        @media screen and (max-width: 800px) {
            justify-content: space-evenly;
            padding-bottom: 15px;
        }

    }

    &__text-box {
        width: 45%;

        @media screen and (max-width: 800px) {
            font-size: 16px;
            width: 100%;
        }
    }

    &__text {
        line-height: 140%;
    }

    &__text:not(:last-child) {
        margin-bottom: 20px;
    }

    &--bold {
        font-size: 22px;
        font-weight: bold;
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 40px;
    }

    &__count {
        display: block;
        color: #886239;
        font-weight: bold;
        font-size: 58px;
        font-family: 'PT Serif',
            serif;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: 1000px) {
            font-size: 40px;
        }

        @media screen and (max-width: 800px) {
            margin-bottom: 0;
        }
    }

    &__descr {
        font-weight: 500;
        font-size: 20px;
        text-align: center;

        @media screen and (max-width: 1000px) {
            font-size: 16px;
        }
    }
}